{
  "openapi": "3.1.0",
  "info": {
    "title": "Phoenix Audit Suite API",
    "version": "1.0.0",
    "description": "Four public, bounded POST endpoints for accessibility pre-audits, passive website security baselines, product price snapshots, and tender/RFP requirement extraction. No Phoenix API key is required. Only submit public URLs or text you are authorized to process."
  },
  "servers": [
    {
      "url": "https://phoenix-tools.michel-goossens99.chatgpt.site",
      "description": "Production"
    }
  ],
  "tags": [
    { "name": "Accessibility" },
    { "name": "Security" },
    { "name": "Commerce" },
    { "name": "Procurement" }
  ],
  "paths": {
    "/api/accessibility-pre-audit": {
      "post": {
        "operationId": "runAccessibilityPreAudit",
        "summary": "Run a bounded accessibility pre-audit",
        "description": "Inspects a public webpage and returns a summary plus up to eight machine-readable findings. This is a pre-audit, not a certification or substitute for manual WCAG testing.",
        "tags": ["Accessibility"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PublicUrlRequest" },
              "examples": {
                "publicPage": { "value": { "url": "https://example.com" } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completed pre-audit",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AccessibilityResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "422": { "$ref": "#/components/responses/BadRequest" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/api/website-security-baseline": {
      "post": {
        "operationId": "runWebsiteSecurityBaseline",
        "summary": "Inspect a public website's passive security baseline",
        "description": "Performs a bounded, passive inspection of a public URL and returns a summary plus up to nine findings. It does not exploit, authenticate to, or modify the target and is not a penetration test.",
        "tags": ["Security"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PublicUrlRequest" },
              "examples": {
                "publicPage": { "value": { "url": "https://example.com" } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Completed passive baseline",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SecurityResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "422": { "$ref": "#/components/responses/BadRequest" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/api/product-price-monitor": {
      "post": {
        "operationId": "captureProductPriceSnapshot",
        "summary": "Capture a public product price and availability snapshot",
        "description": "Reads one public product page and returns the detected title, price, currency, availability, canonical URL, source and a comparison fingerprint when available. It performs a single bounded request and does not schedule monitoring.",
        "tags": ["Commerce"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PublicUrlRequest" },
              "examples": {
                "publicProduct": { "value": { "url": "https://example.com/product" } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product snapshot",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProductPriceResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "422": { "$ref": "#/components/responses/BadRequest" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    },
    "/api/tender-rfp-analyzer": {
      "post": {
        "operationId": "analyzeTenderRfp",
        "summary": "Extract requirements from tender or RFP text",
        "description": "Analyzes pasted tender/RFP text or a public document URL and returns structured references, deadlines, requirements, submission instructions, scope, evaluation criteria and cautions. Always verify the result against the source before bidding.",
        "tags": ["Procurement"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/TenderRequest" },
              "examples": {
                "pastedText": {
                  "value": {
                    "text": "RFP ACME-2026-17. Proposals are due 30 September 2026 at 17:00 UTC. Mandatory: ISO 27001 certification and three references."
                  }
                },
                "publicUrl": { "value": { "url": "https://example.com/public-rfp" } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Structured tender/RFP analysis",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TenderResponse" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "422": { "$ref": "#/components/responses/BadRequest" },
          "500": { "$ref": "#/components/responses/ServerError" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PublicUrlRequest": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": { "type": "string", "format": "uri", "description": "Public HTTP or HTTPS URL to inspect." }
        },
        "additionalProperties": false
      },
      "TenderRequest": {
        "oneOf": [
          {
            "type": "object",
            "required": ["text"],
            "properties": { "text": { "type": "string", "minLength": 1 } },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": ["url"],
            "properties": { "url": { "type": "string", "format": "uri" } },
            "additionalProperties": false
          }
        ]
      },
      "Finding": {
        "type": "object",
        "description": "Machine-readable finding. Exact fields can vary by check.",
        "properties": {
          "title": { "type": "string" },
          "severity": { "type": "string" },
          "status": { "type": "string" },
          "evidence": { "type": "string" },
          "recommendation": { "type": "string" }
        },
        "additionalProperties": true
      },
      "AccessibilityResponse": {
        "type": "object",
        "properties": {
          "url": { "type": "string", "format": "uri" },
          "finalUrl": { "type": "string", "format": "uri" },
          "summary": { "type": ["string", "object"] },
          "findings": { "type": "array", "maxItems": 8, "items": { "$ref": "#/components/schemas/Finding" } }
        },
        "additionalProperties": true
      },
      "SecurityResponse": {
        "type": "object",
        "properties": {
          "url": { "type": "string", "format": "uri" },
          "finalUrl": { "type": "string", "format": "uri" },
          "summary": { "type": ["string", "object"] },
          "findings": { "type": "array", "maxItems": 9, "items": { "$ref": "#/components/schemas/Finding" } }
        },
        "additionalProperties": true
      },
      "ProductPriceResponse": {
        "type": "object",
        "properties": {
          "title": { "type": ["string", "null"] },
          "price": { "type": ["number", "string", "null"] },
          "currency": { "type": ["string", "null"] },
          "availability": { "type": ["string", "null"] },
          "canonicalUrl": { "type": ["string", "null"], "format": "uri" },
          "source": { "type": ["string", "null"] },
          "fingerprint": { "type": ["string", "null"] }
        },
        "additionalProperties": true
      },
      "TenderResponse": {
        "type": "object",
        "properties": {
          "title": { "type": ["string", "null"] },
          "references": { "type": "array", "items": { "type": "string" } },
          "deadlines": { "type": "array", "items": {} },
          "valueOrBudgets": { "type": "array", "items": {} },
          "mandatoryRequirements": { "type": "array", "items": {} },
          "submissionInstructions": { "type": "array", "items": {} },
          "scope": { "type": "array", "items": {} },
          "evaluationCriteria": { "type": "array", "items": {} },
          "cautions": { "type": "array", "items": {} },
          "completeness": { "type": ["string", "number", "object", "null"] }
        },
        "additionalProperties": true
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "message": { "type": "string" }
        },
        "additionalProperties": true
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid input or inaccessible/unsupported source",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "ServerError": {
        "description": "Unexpected processing error",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      }
    }
  }
}
